.navagationContainer {
  top: 0;
  left: 0;
  display: none;
  z-index: 9999;
  background: #fff;
  width: 100%;
  transition: transform 0.3s ease;
  position: absolute;

  @media (min-width: 1200px) {
    // padding: 0 0 1rem calc((100vw - 1000px) / 2);
  }

  @media (min-width: 1400px) {
    // padding: 0 0 1rem calc((100vw - 1200px) / 2);
  }

  @media (min-width: 1600px) {
    // padding: 0 0 1rem calc((100vw - 1500px) / 2);
    height: 100vh;
  }

  .columnsDesktop {
    display: flex;
    flex-direction: column;
    position: relative;

    @media (min-width: 1200px) {
      flex-direction: row;

      .column {
        min-width: 30rem;
      }

      .columnGrid {
        width: 100%;
        min-height: 100vh;
      }
    }
  }

  .logoAndBtn {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    position: fixed;
    background: rgba(255, 255, 255, 0.6);
    // backdrop-filter: blur(1px);
    width: 100%;

    @media (min-width: 1200px) {
      position: relative;
      padding: 1rem calc((100vw - 1000px) / 2);
    }

    @media (min-width: 1400px) {
      padding: 1rem calc((100vw - 1200px) / 2);
    }

    @media (min-width: 1600px) {
      padding: 1rem calc((100vw - 1500px) / 2);
    }

    button {
      background: none;
      border: none;
      outline: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.25rem;
      cursor: pointer;
      width: 4rem;

      &:active,
      &:hover {
        color: var(--blue);
      }
    }
  }

  .mainPages {
    margin-top: 5rem;
    @media (min-width: 1200px) {
      margin-top: 0;
    }

    ul {
      display: flex;
      flex-direction: column;

      li {
        a {
          display: flex;
          align-items: center;
          gap: 1rem;
          padding: 1rem;
          position: relative;

          &:hover::before,
          &:active::before {
            width: 100%;
          }

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 0;
            background: var(--xlight);
            transition: width 0.3s ease;
            z-index: -1;
          }

          @media (min-width: 1200px) {
            position: relative;
            font-size: 1.75rem;
            margin-right: 1rem;
            padding: 1rem 1rem 1rem calc((100vw - 1000px) / 2);
          }

          @media (min-width: 1400px) {
            padding: 1rem 1rem 1rem calc((100vw - 1200px) / 2);
          }

          @media (min-width: 1600px) {
            padding: 1rem 1rem 1rem calc((100vw - 1500px) / 2);
          }
        }
      }
    }
  }

  .divider {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 0;

    @media (min-width: 1200px) {
      padding: 1rem 1rem 1rem calc((100vw - 1000px) / 2);
    }

    @media (min-width: 1400px) {
      padding: 1rem 1rem 1rem calc((100vw - 1200px) / 2);
    }

    @media (min-width: 1600px) {
      padding: 1rem 1rem 1rem calc((100vw - 1500px) / 2);
    }

    span {
      border: 1px solid var(--text-2);
      height: 1px;
      width: 1rem;
      font-weight: 300;

      @media (min-width: 1200px) {
        width: calc((100vw - 1000px) / 2);
        margin-left: calc((100vw - 1000px) / 2 * -1);

        font-size: 1.25rem;
      }

      @media (min-width: 1400px) {
        width: calc((100vw - 1200px) / 2);
        margin-left: calc((100vw - 1200px) / 2 * -1);
        font-size: 1.25rem;
      }

      @media (min-width: 1600px) {
        width: calc((100vw - 1500px) / 2);
        margin-left: calc((100vw - 1500px) / 2 * -1);
        font-size: 1.25rem;
      }
    }

    color: var(--text-2);
  }

  .themesList {
    ul {
      li {
        a {
          display: flex;
          align-items: center;
          gap: 1rem;
          padding: 1rem;
          font-weight: 400;
          position: relative;

          &:hover::before,
          &:active::before {
            width: 100%;
          }

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 0;
            background: var(--xlight);
            transition: width 0.3s ease;
            z-index: -1;
          }

          @media (min-width: 1200px) {
            font-size: 1.25rem;
            margin-right: 1rem;
            padding: 0.5rem 1rem 0.5rem calc((100vw - 1000px) / 2);
          }

          @media (min-width: 1400px) {
            padding: 0.5rem 1rem 0.5rem calc((100vw - 1200px) / 2);
          }

          @media (min-width: 1600px) {
            padding: 0.5rem 1rem 0.5rem calc((100vw - 1500px) / 2);
          }
        }
      }
    }
  }

  .brandsList {
    padding: 1rem 0;

    @media (min-width: 1200px) {
      padding: 0;
      width: 100%;
      min-height: 100vh;
    }
    ul {
      @media (min-width: 1200px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);

        min-height: 100vh;

        li {
          a {
            border: 1px solid var(--xlight);
            height: 100%;

            img {
              width: 8.75rem;
            }
          }
        }
      }

      li {
        a {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          border-top: 1px solid var(--xlight);
          border-bottom: 1px solid var(--xlight);

          &:active,
          &:hover {
            background: var(--xlight);
          }
        }
      }
    }
  }
}

.menuOpen {
  display: inline;
  animation: slideDown 0.6s ease-in-out forwards;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0.5;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
